@charset "ISO-8859-1";
<style>
table {
  border-collapse: collapse;
  border: 1px solid black;
  table-layout: auto;
width: 100%;
} 

th,td {
  border: 1px solid black;
}
.form-label
{
	    font-weight: bold;
}